<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wearconnectivity">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <service android:name="com.wearconnectivity.WearConnectivityTask"
        android:permission="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"
        android:exported="false"
        android:foregroundServiceType="dataSync|connectedDevice">
      <intent-filter>
        <action android:name="com.facebook.react.HeadlessJsTaskService" />
      </intent-filter>
    </service>
</manifest>
